/* Transport.css - 새 버전 */

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background: url('../images/Transport/Background.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
}

/* 헤더 영역 */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px;
    gap: 1500px;
}

.logo img {
    width: 200px;
    height: auto;
    opacity: 0.4; /* 기본 연하게 */
    transition: opacity 0.3s;
}

.logo img:hover {
    opacity: 1; /* 호버시 진하게 */
}

.login-button {
    font-size: 18px;
    color: gray;
    background-color: transparent; /* 배경 투명 */
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
    color: #66c4ff;
}

/* 카드 전체를 감싸는 영역 */
.card-container {
    display: flex;          /* 가로 배치 */
    justify-content: center; /* 가운데 정렬 */
    align-items: flex-start;
    gap: 100px;              /* 카드 사이 간격 */
    flex-wrap: wrap;        /* 화면 줄어들면 다음줄로 */
    position: relative;
    top: 140px;
}

/* 각각의 카드 */
.card {
    background-color: rgba(255, 255, 255, 0.6); /* 흰색 약간 투명하게 */
    width: 380px;
    height: 600px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.card:hover {
    transform: translateY(-50px);
    background-color: rgba(199, 199, 199, 0.5); /* 회색 약간 투명하게 */
}


.card-icon {
    width: 80px; /* 너비 조정 */
    height: 80px;
    margin-bottom: 20px; /* 아이콘과 제목 사이 간격 */
    object-fit: contain; /* 이미지 깨짐 방지 */
}

.card h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card p {
    font-size: 20px;
    color: black;
    margin-bottom: 40px;
}

.bold-black {
    font-weight: bold;
    color: black;
}

.arrow-button {
    position: relative;
    top: 50px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: transparent; /* 배경 없음 */
    font-size: 24px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.arrow-button:hover {
    background-color: black;
    color: white;
}